#color {
  width: 4cm;
  border: none;
  border-radius: 20%;
}
h1 {
  font-size: 2cm;
  text-align: center;
  color: rgb(84, 127, 207);
}
.content {
  display: flex;
  flex-direction: column;
  width: 7cm;
  height: 7cm;
  margin: 0 auto;
  border: 4px rgb(84, 127, 207) solid;
  padding: 20px 20px;
  justify-content: space-between;
  border-radius: 10%;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
}
#test {
  font-weight: normal;
  text-align: center;
}
body {
  background-color: whitesmoke;
}
#button {
  font-weight: bold;
  background-color: rgb(245, 245, 234);
}
